MONGO_URI="mongodb://djs-portal:djsport%40ltex%40s@ac-05gm0cw-shard-00-00.5odo9dw.mongodb.net:27017,ac-05gm0cw-shard-00-01.5odo9dw.mongodb.net:27017,ac-05gm0cw-shard-00-02.5odo9dw.mongodb.net:27017/?ssl=true&replicaSet=atlas-u9n2kr-shard-0&authSource=admin&appName=djs-tms"
JWT_SECRET=
JWT_REFRESH_SECRET=
